@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
body {
  font-family: 'Mouse Memoirs', sans-serif;
  background-color: rgb(210, 90, 154);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  color: rgb(246, 246, 22);
}

.box {
  width: calc(100vw - 10rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: inset 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.btn {
  width: calc(100% / 3);
  height: 10rem;
  border-radius: 3rem;
  border: 2px solid rgb(8, 8, 7);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(172, 189, 205);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(129, 239, 237);
}

.result {
  text-align: center;
  font-weight: 3rem;
  font-size: 3rem;
}

.reset {
  text-align: center;
  margin: 10px 0;
}

#reset {
  border: 1px solid rgba(227, 18, 196, 0.815);
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  padding: 5px 10px;
  font-size: 1.1rem;
  margin: 7px 0;
  transition: all 0.8s ease-in-out;
}

#reset:hover {
  color: rgb(rgb(156, 165, 186), green, blue);
  background-color: wheat;
}
